

.hidden {
    display: none;
}


html, body {
    margin: 0; height: 100%; overflow: hidden;
    background: black;

}

.buttons-one{
    position: relative;
    border-radius: 10px;
    top:-40px;
    left: 330px;
}





.hidden {
    display: none;
}

img {
    width: 100px;
    height: auto;
    display: inline-block;
}
    




 h1{ 
    position: relative;
    top: 80px;
    font-family: 'Bangers', cursive;
    font-size: 100px;
    color: rgb(233, 235, 175);
    text-align:center;
}  

h2{
    position: relative;
    top: -450px;
    font-family: 'Bangers', cursive;
    color: rgb(233, 235, 175);
    text-align:center;
}

h3{
    position: relative;
    top: -400px;
    font-family: 'Bangers', cursive;
    font-size: 20px;
    color: rgb(233, 235, 175);
    text-align:center;
}  

.container {
    text-align: center;
 }
 
 .buttons-one {
    font-family: "Comic Sans MS", sans-serif;
    background-color: rgb(233, 235, 175);
    position: absolute;
    top: 600px;
    left: 820px;
    display: inline-block;
    }
 

.button-container {
    position: absolute;
    top: 20px;
    left: 20px;
    }

    ul {
    color: white
} 



#question {
    color: white;
    width: 120px;
    position: relative;
    text-shadow: 1px 4px 1px black;
    bottom: 230px;
    left: 52px;
    font-size: 40px;
    top: -110px
    
}



#instructions{
    position: relative;
    top: -150px;
    left: 200px;
    visibility: visible;
    text-shadow: 1px 1px 1px black;
    font-size: 17px;
    font-family:"Comic Sans MS", sans-serif;
    color: rgb(233, 235, 175);
}



.image-container {
    display: flex;
}

img:first-child {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}

img:last-child {
    margin-left: 600px;
    margin-top: 50px;
}

img {
    width: 400px;
    height: auto;
}

#instructions{
    color:white;
}

#result {
    color:white;
}

#timer {
    color: white;
}

.hidden {
    display: none;
}

#background-image {
    width: 700px;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    top: -90px;
    margin: auto;
    margin-top: 50px;
    border: solid 3px rgb(233, 235, 175);
    margin-bottom: 10px;
    margin-left: 550px
    
}

#question {
margin-left: 800px;
margin-top:  -250px
}

#instructions {
margin-left:400px;
margin-top: 300px;
}