body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set {
    border: 2px solid white;
    margin-top: 100px;
    height: 1000px;
    width: 1000px;
    background: url(../assets/Background.jpg);
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: relative; 
    
} 

.set * {
    z-index: 1; 
}

@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

h1 {
    color:aliceblue;
    font-family:"Bangers", sans-serif;
}
    
